<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	<connectionStrings>
		<add name="ssms" connectionString="Data Source=.;Initial Catalog=storesDB;Initial Catalog=1404;Integrated Security=True" />
	</connectionStrings>
    </startup>
</configuration>